<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto HTML</title>
    <style></style>
    <link rel="icon" type="image/jpg" href="/Clase 14-02/assets/img/logo.jpg">
    <link rel="stylesheet" href="/Clase 14-02/assets/css/styles.css">
</head>
<body>
    <!--la etiquete header se utiliza para definir la cabecera o encabezado de una sección o de todo el documento web-->
    <header>
        <!-- La etiqueta H1 se utiliza para definir el encabezado principal o el título principal de una sección o página web. La "h" en <h1> significa "encabezado", y el número "1" indica que es el nivel más alto de encabezado en la jerarquía de encabezados HTML. -->
        <center><h1 class="titulos">En Perú un policía se disfrasa para atrapar a narcotraficante</h1></center>
    </header>
    <hr>
    <nav>
        <table> 
            <tr>
            <td><a href="https://www.telemadrid.es/noticias/sociedad/Un-policia-peruano-se-disfraza-de-oso-para-atrapar-a-un-narcotraficante-en-el-dia-de-San-Valentin-0-2643035738--20240215063006.html">Visita la noticia original

            </a></td>
            <td><a class="titulos">Otras noticias</a></td>
        </tr>
    </table>

    </nav>
    <hr>
    <table>
        <section>
            <!--La etiqueta section  se utiliza para dividir el contenido de una página web en secciones temáticas o grupos de contenido relacionado.-->
            <tr>
                <td><h2 class="titulos">Policía disfrazado de oso detiene a dos narcos</h2>
                    <!--Etiqueta <p> se utiliza para definir párrafos de texto en un documento web-->
                        <p>Con el truco de disfrazar a un agente de oso gigante, a modo de regalo de San Valentín, la Policía Nacional de Perú (PNP) logró despistar a una supuesta delincuente que comerciaba con drogas y detenerla, informaron este miércoles fuentes oficiales.</p>
                        <p>La detención se produjo en el distrito limeño de San Martín de Porres, donde una operación policial consiguió detener a la sospechosa después de que esta se acercara sin dudarlo al gran oso de peluche al pensar que era un regalo del día de los enamorados</p>
                        <img src="/Clase 14-02/assets/img/img.jpeg"></td>
                    </section>
                    <section>
                        <br>
                        <td ><aside>
                            <!--La etiquetaa aside se utiliza para definir contenido que está relacionado tangencialmente con el contenido circundante, pero que podría considerarse independiente de este.-->
                            <center><h4>En otras noticias</h4></center>
                    
                            <ul>
                                <li><a href="https://www.biobiochile.cl/noticias/nacional/chile/2024/02/15/poder-judicial-suspende-polemica-compra-de-lujosos-vehiculos-lexus.shtml">Poder judicial suspende polemica por compra de vehículos lujosos</a></li>
                                <li><a href="https://www.24horas.cl/actualidad/nacional/censo-2024-fecha-de-inicio-casas">Se confirman fechas de inicio para el censo 2024</a></li>
                                <li><a href="https://www.24horas.cl/actualidad/nacional/por-estupidez-presidente-boric-insiste-en-tesis-de-la-intencionalidad-incendios">Presidente boric insiste en tesis de la intencionaidad en los incendios</a></li>
                            </ul>
                        </aside></td>
                    </section>
                        <br>
            
        </tr>
        </table>
    </section>
    <br>
    <hr>
    <!--La etiqueta footer e utiliza para definir el pie de página de un documento o de una sección específica dentro de una pagina -->
    <footer>Creado por Sharonvitia Guiñez</footer>
    <hr>
</body>
</html>
<!--La etiqueta articlese utiliza para definir una pieza de contenido independiente y autocontenido dentro de una página -->